* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;1,300;1,400&display=swap");

$red: #C92D1F;

body {
  font-family: 'Crimson Text', serif;
  font-family: 'Cormorant Garamond', sans-serif;
}

h2 {
  font-family: 'Cormorant Garamond', sans-serif;
  font-size: 7vw;
  font-weight: 500;
}

.item {
  position: relative;
  width: 100%;
  color: $red;

  &:before {
    content: '';
    position: absolute;
    height: 1px;
    background: $red;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  .item__content {
    display: flex;
    width: 100%;
    padding: 0 3vw;
    height: 20vw;
    align-items: center; 

    .item__number {
       font-weight: 500;
       text-decoration: underline;
       margin-right: 2vw;
       margin-top: 4vw;
       font-size: 2.3vw;
       align-self: flex-start
    }

    .item__metas {
      margin-left: auto;
      display: flex;
      flex-direction: column;
      text-align: right;
      margin-top: 2.7vw;

      span {
        font-weight: 900;
        font-size: 1.1vw;
        text-transform: uppercase;
        letter-spacing: .10vw;
      }

      strong {
        font-size: 1.5vw;
        font-weight: 800;
      }
    }
  }
}