* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;1,300;1,400&display=swap");

$red: #C92D1F;


.nav__container {
  width: 100%;
  margin: 0 auto;
  list-style-type: none;
  font-family: 'Crimson Text', serif;
  font-family: 'Cormorant Garamond', sans-serif;

  h2 {
    font-family: 'Cormorant Garamond', sans-serif;
    font-size: 6vw;
    font-weight: 500;
  }

  .item {
    position: relative;
    width: 100%;
    color: $red;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    overflow: hidden;

    // Ajout de la bordure dynamique
    &:before {
      content: '';
      position: absolute;
      height: 1px;
      background: $red;
      left: 0;
      bottom: 0;
      width: 100%;
      transform-origin: left;
      transform: scaleX(0);
      transition: transform 1.8s ease-in-out;
      // transition: transform 2.15s cubic-bezier(0, 0.72, 1, 1.02);;
    }

    &.visible {
      &:before {
        transform: scaleX(1);
      }

      opacity: 1;

      .item__content {
        transform: translateY(0);
      }
    }

    &:hover {
      .item__content {
        color: white;
      }
      // Gestion de l'apparition de l'image
      .item__background {
        &:after {
          transform: translateY(-100%);
        }

        background-size: 120%
      }
    }

    .item__background {
      position: absolute;
      width: 100%;
      height: 100%;
      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat;
      z-index: -1;
      transition: background-size .5s ease-out;
  

      &:before {
        content: '';
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.2);
      }

      &:after {
        content: '';
        position: absolute;
        inset: 0;
        transform: translateY(0);
        background: white;
        transition: transform .3s ease-out;
      }
    }

    .item__content {
      display: flex;
      width: 100%;
      padding: 0 3vw;
      height: 13vw;
      align-items: center;
      transform: translateY(20%);
      transition: transform ease-out 1s, color ease-in-out .3s;
      color: $red;
      cursor: pointer;

      .item__number {
        font-weight: 500;
        text-decoration: underline;
        margin-right: 2vw;
        margin-top: 4vw;
        font-size: 2vw;
        align-self: flex-start;
        text-underline-offset: 12px;
      }

      .item__metas {
        margin-left: auto;
        display: flex;
        flex-direction: column;
        text-align: right;
        margin-top: 2.7vw;

        span {
          font-weight: 100;
          font-size: 2vw;
          text-transform: uppercase;
          letter-spacing: .020vw;
        }

        strong {
          font-size: 1.6vw;
          font-weight: 100;
          font-family: 'Crimson Text', serif;

        }
      }
    }
  }
}